@font-face {
  font-family: "Allura Regular";
  src: url("/fonts/Allura\ Regular.woff2");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.woff2");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/fonts/Montserrat-SemiBold.woff2");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat-Regular.woff2");
}

@font-face {
  font-family: "sf-pro-display-bold";
  src: url("/fonts/sf-pro-display-bold.woff2");
}

@font-face {
  font-family: "sf-pro-text-regular-webfont";
  src: url("/fonts/sf-pro-text-regular-webfont.woff2");
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Montserrat-SemiBold";
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 12px 0px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__items {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.gifts__navigation-items {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.header__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: black;
}

.header__gifts {
  padding: 8px 20px;
  max-width: 142px;
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.navigation__item {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: black;
  padding: 12px 20px;
}

.gifts {
  padding: 60px 0px;
  background: #ff4646;
  background-image: url(/images/bg-garland.png);
  background-size: 100% 200px;
  background-repeat: no-repeat, no-repeat;
}

.gifts__title {
  max-width: 426px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: white;
}

.gifts__navigation-wrapper {
  margin-top: 20px;
}

.gifts__inform-first {
  color: #4361ff;
}

.gifts__inform-second {
  color: #06a44f;
}

.gifts__inform-four {
  color: #ff43f7;
}

.gifts__img-first {
  background-image: url(/images/gift-for-work.png);
}

.gifts__img-second {
  background-image: url(/images/health.png);
}

.gifts__img-third {
  background-image: url(/images/harmony.png);
}

.gifts__img-general {
  height: 230px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}

.gifts__inform {
  min-height: 112px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.generation__inform-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.gifts__inform-subtitle {
  margin-top: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000;
}

.gifts__cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.container {
  margin: 0 82px;
}

.gifts__card {
  height: 342px;
  flex: 0 0 calc((100% - 36px) / 4);
  background-color: #ecf3f8;
  border-radius: 20px;
  min-width: 310px;
}

.btn__bg {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}

.gifts__navigation-items li button {
  color: white;
}

@media (max-width: 800px) {
  .container {
    margin: 0px 60px;
  }
}

.scroll__top-text {
  position: relative;
  width: 50px;
  text-align: center;
  color: white;
}

.scroll__top-text::before {
  content: "↑";
  font-size: 35px;
  position: absolute;
  z-index: 999;
  color: white;
  top: -47px;
}

.scroll__top-wrapper {
  position: fixed;
  right: 4px;
  top: 300px;
  background-color: #333333;
  padding: 2px;
  border-radius: 5px;
}

.scroll__top-none{
  display: none;
}