@font-face {
  font-family: "Allura Regular";
  src: url("/fonts/Allura\ Regular.woff2");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.woff2");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/fonts/Montserrat-SemiBold.woff2");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat-Regular.woff2");
}

@font-face {
  font-family: "sf-pro-display-bold";
  src: url("/fonts/sf-pro-display-bold.woff2");
}

@font-face {
  font-family: "sf-pro-text-regular-webfont";
  src: url("/fonts/sf-pro-text-regular-webfont.woff2");
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Montserrat-SemiBold";
}

.container {
  margin: 0 82px;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 12px 0px;
  margin: 0 82px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__items {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.gifts__navigation-items {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.header__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: black;
}

.header__gifts {
  padding: 8px 20px;
  max-width: 142px;
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.navigation__item {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: black;
  padding: 12px 20px;
}

.gifts {
  padding: 60px 0px;
  background: #ff4646;
  background-image: url(/images/bg-garland.png);
  background-size: 100% 200px;
  background-repeat: no-repeat, no-repeat;
}

.gifts__title {
  max-width: 426px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: white;
}

.gifts__navigation-wrapper {
  margin-top: 20px;
}

.gifts__inform-first {
  color: #4361ff;
}

.gifts__inform-second {
  color: #06a44f;
}

.gifts__inform-four {
  color: #ff43f7;
}

.gifts__img-first {
  background-image: url(/images/gift-for-work.png);
}

.gifts__img-second {
  background-image: url(/images/health.png);
}

.gifts__img-third {
  background-image: url(/images/harmony.png);
}

.gifts__img-general {
  height: 230px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}

.gifts__inform {
  min-height: 112px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.generation__inform-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.gifts__inform-subtitle {
  margin-top: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000;
}

.gifts__cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.container {
  margin: 0 82px;
}

.gifts__card {
  height: 342px;
  flex: 0 0 calc((100% - 36px) / 4);
  background-color: #ecf3f8;
  border-radius: 20px;
  min-width: 310px;
}

.btn__bg {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}

.gifts__navigation-items li button {
  color: white;
}

@media (max-width: 800px) {
  .container {
    margin: 0px 60px;
  }
}

.scroll__top-text {
  position: relative;
  width: 50px;
  text-align: center;
  color: white;
}

.scroll__top-text::before {
  content: "↑";
  font-size: 35px;
  position: absolute;
  z-index: 999;
  color: white;
  top: -47px;
}

.scroll__top-wrapper {
  position: fixed;
  right: 4px;
  top: 300px;
  background-color: #333333;
  padding: 2px;
  border-radius: 5px;
}

.scroll__top-none {
  display: none;
}

.burger__menu {
  position: relative;
  width: 40px;
  height: 40px;
}

.burger__menu-none {
  display: none;
}

.burger__menu-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.burger__line {
  width: 100%;
  height: 1px;
  background-color: black;
  border-radius: 2px;
  transition: transform 1s linear;
}

@media (max-width: 768px) {
  .burger__menu-none {
    display: block;
  }

  .header__navigation-none {
    display: none;
  }
  .header {
    margin: 0 8px;
  }
}

@media (max-width: 380px) {
  .gifts__title {
    min-width: 364px;
    width: 100%;
  }

  .container {
    margin: 0 8px;
  }

  .navigation__item {
    padding: 12px 8px;
    letter-spacing: 0;
  }

  .gifts__cards {
    justify-content: center;
  }

  .scroll__top-text::before {
    right: 8px;
  }

  .show__cards-wrapper{
    max-width: 364px !important;
    width: 100%;
  }

  .gifts__row-text{
    max-width: 158px !important;
    width: 100%;
  }

  .scroll__top-wrapper{
    right: 6px;
  }
}
.footer {
  padding: 60px 0px;
}

.footer__item-bg {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}

.footer__item-santa {
  background-image: url(/images/santa-claus.png);
}

.footer__item-chris {
  background-image: url(/images/christmas-tree.png);
}

.footer__item-snake {
  background-image: url(/images/snake.png);
}

.footer__items {
  display: flex;
  gap: 12px;
}

.footer__item-link {
  flex: 0 0 calc((100% - 24px) / 3);
  background-color: #ecf3f8;
  border-radius: 20px;
  padding: 20px;
}

.footer__item-generation {
  font-weight: 600;
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: black;
}

.footer__item-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: black;
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer__column-item {
  padding: 8px;
  width: 40px;
  height: 40px;
}

.footer__column-items {
  display: flex;
  gap: 12px;
}

.footer__column-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: black;
  font-family: "Montserrat-Regular";
}

.footer__column-subtext a {
  font-family: "Allura Regular";
  color: black;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer__items {
  margin: 0 82px;
}

@media (max-width: 768px) {
  .footer__items {
    flex-wrap: wrap;
  }

  .footer__items a {
    flex: 0 0 100%;
  }

  .footer__items {
    margin: 0 8px;
  }
}

/* ------------------------- */

.show__cards-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 400px;
  width: 100%;
  background-color: #ecf3f8;
  border-radius: 20px;
  z-index: 999;
}

.show__text {
  font-family: "Montserrat-Regular";
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  max-width: 360px;
  width: 100%;
}

.gifts__super-wrapper {
  margin-top: 20px;
}

.gifts__super-title{
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.gifts__wrapper{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.gifts__row-general{
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
}

.gifts__row-imges{
  display: flex;
  width: 16px;
  height: 16px;
  gap: 8px;


}

.gifts__row{
  max-width: 360px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.gifts__row-text{
  max-width: 184px;
  width: 100%;
}

.show__inner{
  position: relative;
}

.show__cards-close{
  position: absolute;
  top: 12px;
  right: 12px;
}

.show__darken-windows{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.no-scroll {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}